body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background: #483D8B url(https://i.imgur.com/UMx2Goy.jpg);
    background-size: cover;
}
h1 {
    margin: 0 ;
    text-transform: uppercase;
    padding-bottom: 5px;
}
h2 {
    color: white;
    margin: 0 ;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px solid #4B0082;
}
form {
  margin: 7% 37.3%;  
  background: black;
  width: 450px;
  height: 770px;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
.group {
   margin: 10px;
   padding: 5px;
}
label {
    color: white;
    padding-left: 10px;
}
input[type = text], input[type = password]{
    margin-top: 10px;
    height: 40px;
    width: 400px;
    border-radius: 20px/20px;
    border: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input[type = text], input[type = password]:focus, input[type = text], input[type = password]:focus {
    border: 3px solid #4B0082;
    transform: translateY(2px);
}

input[type=submit] {
    font-family: Verdana, sans-serif;
    cursor: pointer;
    padding: 10px 30px;
    height: 50px;
    width: 150px;
    color: #fff;
    background: #483D8B;
    text-transform: uppercase;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    border-radius: 25px/25px;
    border: none;
}

button {
    display:block;
    position:absolute;
    top:83%;
    left:46.1%; 
    font-family: Verdana, sans-serif;
    cursor: pointer;
    height: 50px;
    width: 150px;
    color: #fff;
    background: #483D8B;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    border-radius: 25px/25px;
    border: none;
}

button:hover, input[type=submit]:hover {
    opacity: .80;
}

