body {
	 margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.timetable-today {
	width: 300px;
	padding: 20px;
	border: 2px solid #eee;
}



.homework {
	
}

.disp-inline {
	display: inline-block;
}

.profile {
	left: 1000px;
	position: absolute;
}


.profile-photo {
	width: 56px;
	height: 56px;
	border-radius: 50px; 
   border: 3px solid white; 
   box-shadow: 0 0 0px #666;
}

.profile-text {
	top: 7px;
	color: white;
	left: 1080px;
	position: absolute;
}

.navbar {
	position: relative;
	background: #008080;
	height: 64px;
	margin-right: -5px;
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #dddddd;
}

.navbar li {
	display: inline;
	float: left;
}
.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
  background-color: 	#C0C0C0;
}

.todo {
  display: inline-block;
  margin: 20px auto;
  border: 2px solid #eee;
  padding: 10px 20px;
}

.todo__text,
.todo__add {
  font-family: Verdana, Arial, sans-serif;
  font-size: 16px;
}

.todo__add {
  padding: 5px 10px;
}

.todo__text {
  padding: 5px;
}

.todo__list {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
}

.todo__list-item {
  cursor: pointer;
  padding: 5px;
  line-height: 20px;
}

.todo__list-item:nth-child(even) {
  background-color: #eee;
}

.todo__list-item:hover {
  background-color: #aaa;
}

.todo__list-item_completed_yes {
  text-decoration: line-through;
}

.todo__list-item-text {
  display: inline-block;
  max-width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo__list-item_completed_yes .todo__list-item-text {
  text-decoration: line-through;
}

.todo__list-item-remove {
  float: right;
  opacity: 0.3;
  margin-left: 15px;
}

.todo__list-item-remove:hover {
  opacity: 1;
}