<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{addLessonAction}" method="GET">
    <table>
        <tr>
            <td>name</td>
            <td><input type="text"  name="name"  /></td>
        </tr>
        <tr>
            <td> LessonType </td>
            <td> <input type="text" name="lessonType"/></td>
        </tr>
        <tr>
            <td> Time </td>
            <td><input type="text" name="time"/></td>
        </tr>
        <tr>
            <td> Day</td>
            <td> <input type="text" name="day"/></td>
        </tr>
        <tr>
            <td> Week</td>
            <td> <input type="text" name="week"/></td>
        </tr>
    </table>
    <input type="submit" value="Create"/>
</form>
<br/>
<br/>
<br/>
<a href="/home"> Начальная страница </a>
</body>
</html>