<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

        }

        table td {
            width: 320px;
            height: 80px;
            padding: 10px;
        }

        table th {
            padding: 10px;
        }

        select {
            font-family: inherit;
        }

        button {
            font-family: inherit;
            margin-bottom: 30px;
        }
    </style>
    <link rel="stylesheet" href="css/add-timetable.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="/coin"><b>Монетка судьбы</b></a></li>а
    </ul>
    <div class="profile">
        <a href="/profile"><img th:src="${user.urlPhoto == null ?
        'https://windows10free.ru/uploads/posts/2017-04/1493287748_1487679899_icon-user-640x640.png' :
         user.urlPhoto}" class="profile-photo"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.surname}"></b>
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b> | <b th:text="${user.level}"></b><b> уровень</b>
    </div>
</div>
<table border="1" style="border-collapse: collapse" class="simple-little-table" cellspacing='0'>
    <caption><strong>Расписание на <select name="weekNum">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
    </select> неделю
    </strong></caption>
    <thead>
    <tr>

        <th>Понедельник</th>

        <th>Вторник</th>

        <th>Среда</th>

        <th>Четверг</th>

        <th>Пятница</th>

        <th>Суббота</th>

    </tr>
    </thead>
    <tbody>
    <tr id="1">

        <td id="monday1">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday1">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday1">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday1">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday1">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday1">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

    </tr>

    <tr id="2">
        <td id="monday2">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday2">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday2">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday2">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday2">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday2">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>
    </tr>

    <tr id="3">
        <td id="monday3">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday3">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday3">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday3">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday3">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday3">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>
    </tr>
    <tr id="4">
        <td id="monday4">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday4">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday4">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday4">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday4">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday4">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>
    </tr>

    <tr id="5">
        <td id="monday5">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday5">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday5">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday5">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday5">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday5">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>
    </tr>

    <tr id="6">
        <td id="monday6">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday6">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday6">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday6">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday6">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday6">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

    </tr>

    <tr id="7">

        <td id="monday7">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday7">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday7">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday7">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday7">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday7">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>
    </tr>
    <tr id="8">
        <td id="monday8">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="tuesday8">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="wednesday8">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text"></td>

        <td id="thursday8">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="friday8">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>

        <td id="saturday8">
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type="text">
        </td>
    </tr>
    </tbody>
</table>
<div class="actions">
    <a id="add">Добавить расписание</a>
    <a onclick="window.location.href = 'home'">Вернуться на домашнюю страницу</a>
</div>
</body>
<script>
    let addButton = document.getElementById('add');
    let arr = {
        day: "",
        timetableForDay: []
    }
    let timetableForDay = [];
    let lesson = {
        time: "",
        lessonType: "",
        lessonName: ""
    }
    let timetableForWeek = [];
    addButton.onclick = function () {
        let dayOfWeek = "";
        for (let k = 0; k < 6; ++k) {
            switch (k) {
                case 0 : {
                    dayOfWeek = "MONDAY";
                    break;
                }
                case 1 : {
                    dayOfWeek = "TUESDAY";
                    break;
                }
                case 2 : {
                    dayOfWeek = "WEDNESDAY";
                    break;
                }
                case 3 : {
                    dayOfWeek = "THURSDAY";
                    break;
                }
                case 4 : {
                    dayOfWeek = "FRIDAY";
                    break;
                }
                case 5 : {
                    dayOfWeek = "SATURDAY";
                    break;
                }
            }
            arr.day = dayOfWeek;
            for (let i = 1; i <= 8; ++i) {
                let td = document.getElementById(dayOfWeek.toLowerCase() + i);
                let children = td.childNodes;
                lesson.time = children[1].value;
                for (let j = 2; j < children.length; ++j) {
                    let child = children[j];
                    if (child instanceof HTMLInputElement) {
                        lesson.lessonName = child.value;
                    } else if (child instanceof HTMLSelectElement) {
                        lesson.lessonType = child.value;
                    }
                }
                if (lesson.lessonName !== "") timetableForDay.push(lesson);
                lesson = {};
            }
            arr.timetableForDay = timetableForDay;
            if (timetableForDay.length !== 0) timetableForWeek.push(arr);
            timetableForDay = [];
            arr = {};
        }
        let fullTimeTable = {"content": timetableForWeek};
        const form = document.createElement('form');
        form.action = '/addTimetable';
        form.method = 'POST';

        form.innerHTML = '<input type = "hidden" id = "numOfWeek" name = "numOfWeek" value = "" >' +
            '<input type = "hidden" id = "timetable" name = "timetable" value = "" >';
        document.body.append(form);
        document.getElementById('numOfWeek').value = document.getElementsByTagName('select')[0].value;
        document.getElementById('timetable').value = fullTimeTable.content.length === 0 ? "" : JSON.stringify(fullTimeTable);
        form.submit();
    }
</script>
</html>