<table border="1">

    <caption>Расписание на 1 неделю</caption>

    <tr>

        <th>Понедельник</th>

        <th>Вторник</th>

        <th>Среда</th>

        <th>Четверг</th>

        <th>Пятница</th>

        <th>Суббота</th>

    </tr>

    <tr id = "1">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
                <option value="LECTURE">Лекция</option>
                <option value="LAB">Лабораторная работа</option>
                <option value ="PRACTICE">Практика</option>
            </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>

    <tr id = "2">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>

    <tr id = "3">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>
    <tr id = "4">
        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>

    <tr id = "5">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>

    <tr id = "6">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>

    <tr id = "6">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>
    <tr id = "6">

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text"></td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

        <td>
            Время: <select name="time">
            <option>8.00-9.35</option>
            <option>9.45-11.20</option>
            <option>11.30-13.05</option>
            <option>13.30-15.05</option>
            <option>15.15-16.50</option>
            <option>17.00-18.30</option>
            <option>18.45-20.15</option>
            <option>20.25-21.55</option>
        </select>
            <br>
            Тип: <select name="lessonType">
            <option value="LECTURE">Лекция</option>
            <option value="LAB">Лабораторная работа</option>
            <option value ="PRACTICE">Практика</option>
        </select>
            <br>
            Предмет: <input type ="text">
        </td>

    </tr>

</table>