<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Личный кабинет | Авторизация</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<form  action="" th:object="${user}"
       th:action="@{home}" method="GET" style="height: 350px">
    <h1 align="center" style="color:#808080">DARKLK</h1>
    <h2 align="center">| Авторизация |</h2>
    <div class="group">
        <label>Логин:</label>
        <input type="text" th:field="*{name}" required>
    </div>
    <div class="group">
        <label>Пароль:</label>
        <input id="passwordField" type="password" name="password" th:field="*{password}" required>
    </div>
    <div class="group">
        <button>Войти</button>
        <button>Регистрация</button>
    </div>
</form>
</body>
</html>
