<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form  action="" th:object="${user}"
       th:action="@{home}" method="GET">
    <h1 align="center" style="color:#808080">DARKLK</h1>
    <h2 align="center">| Авторизация |</h2>
    <div class="group">
        <label>Имя:</label>
        <input type="text" th:field="*{name}">
    </div>
    <div class="group">
        <label>Фамилия:</label>
        <input type="text"th:field="*{surname}">
    </div>
    <div class="group">
        <label>Пароль:</label>
        <input id="passwordField" type="password" name="password" th:field="*{password}">
    </div>
    <div class="group">
        <center><button>Войти</button></center>
    </div>
</form>
</body>
</html>