    <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <title>StudyCom</title>
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="#"><b>Чат</b></a></li>
    </ul>
    <div class="profile">
        <a href="#"><img src="https://sun9-30.userapi.com/c855236/v855236163/96840/_gJAXx_rgkE.jpg"
                         class="profile-photo"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b><b th:text="${user.level}"></b>
    </div>
    <div class="group">
        <b>ниже${user.group.name}</b>
        <b th:text="${user.group.name}"></b>
    </div>
</div>
<table class="sort" align="center" width="40%" cellpadding="0">
 <colgroup>
      <col style="background:#C7DAF0;">
  </colgroup>
  <thead>
    <tr>
         <th align="center" width="70%">Студент</th>
          <th  align="center">Лвл</th>
           <th  align="center">Роль</th>
    </tr>
</thead>
<tbody>
      <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
         <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
  <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
             <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
            <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
       <tr>
        <td><a href="">ячейка</a></td>
        <td>ячейка</td>
        <td>ячейка</td>
    </tr>
</tbody>
</table>
</body>
</html>