<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/checkbox.css">
    <link rel="stylesheet" href="css/modal-window.css">
    <link rel="stylesheet" href="css/input.css">
    <title>StudyCom</title>
</head>
<body>
<div id="addWindow" class="modalbackground" style="opacity: 0; pointer-events: none">
    <div class="modalwindow">
        <form action="/addHomework" method="GET" id="addTaskForm">
            <h3>Добавление домашнего задания</h3>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Предмет" name="lesson" id='lesson' required>
                <label for="lesson" class="form__label">Предмет</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Предмет" name="task" id='task' required>
                <label for="task" class="form__label">Задание</label>
            </div>
            <input type="submit" value="Добавить" style="margin-left: 0; display: inline-block; margin-top: 20px">
            <a style="margin-top: 0; display: inline-block; margin-left: 10px" onclick="closeModalWindow('addWindow')">Закрыть</a>
        </form>
    </div>
</div>
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="/coin"><b>Монетка судьбы</b></a></li>
    </ul>
    <div class="profile">
        <a href="/profile"><img th:src="${user.urlPhoto == null ?
        'https://windows10free.ru/uploads/posts/2017-04/1493287748_1487679899_icon-user-640x640.png' :
         user.urlPhoto}" class="profile-photo"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.surname}"></b>
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b> | <b th:text="${user.level}"></b><b> уровень</b>
    </div>
</div>
<div class="timetable-today disp-inline">
    <h2 id="timetableTodayHeader">Расписание на сегодня:</h2>
    <ul th:if="${timetableToday != null}">
        <li th:each="lesson : ${timetableToday}" th:text="${lesson.formattedView()}">8.00 - 9.35 ТФКП</li>
    </ul>
    <p th:if="${timetableToday == null}">Расписание еще не добавлено или сегодня нет пар</p>
</div>
<div id="myDIV" class="todo disp-inline">
    <h2>Список задач:</h2>
    <input type="text" id="myInput">
    <span onclick="newElement()" class="addBtn">Добавить</span>
</div>
<div id="a" class="todo-ul-li">
    <ul id="myUL">
        <th:block th:each="task : ${tasks}">
            <li th:text="${task.content}"></li>
            <input class="tasksId" type="hidden" th:value="${task.id}">
        </th:block>
    </ul>
</div>
<div class="homework disp-inline">
    <h2>Домашнее задание</h2>
    <th:block th:each="homework : ${homeworks}">
        <h3 th:if="${!homework.content.isEmpty()}" th:text="${homework?.lessonName}">Предмет1</h3>
        <ul>
            <th:block th:each="task : ${homework.content}">
                <li><input type="checkbox" th:value="${homework.lessonName}" class="custom-checkbox" th:id="${task.id}"
                           onchange="disableButtons()"><label
                        th:for="${task.id}" th:text="${task.content}">dz asd</label></li>
            </th:block>
        </ul>
    </th:block>
    <a th:if="${user.role.name() == 'STAR'}" onclick="openModalWindow()">Добавить</a>
    <a id="deleteButton" disabled="disabled" style="margin-left: 10px" onclick="deleteWorks()">Удалить</a>
</div>
<script>
    function zeroFirstFormat(value) {
        if (value < 10) {
            value = '0' + value;
        }
        return value;
    }

    function dateTime() {
        const current_datetime = new Date();
        const day = zeroFirstFormat(current_datetime.getDate());
        const month = zeroFirstFormat(current_datetime.getMonth() + 1);
        const year = current_datetime.getFullYear();

        return day + "." + month + "." + year;
    }

    function dateDay() {
        switch (new Date().getDay()) {
            case 0 : return 'Воскресенье';
            case 1 : return 'Понедельник';
            case 2 : return 'Вторник';
            case 3 : return 'Среда';
            case 4 : return 'Четверг';
            case 5 : return 'Пятница';
            case 6 : return 'Суббота';
        }
    }

    document.getElementById('timetableTodayHeader').innerHTML = "Расписание на сегодня " + dateTime() + '<br>' +
            dateDay();

    let addTaskWindow = document.getElementById("addWindow");
    const checkboxes = document.getElementsByClassName('custom-checkbox');
    let disableButton = document.getElementById('deleteButton');

    function openModalWindow() {
        addTaskWindow.style.opacity = "1";
        addTaskWindow.style.pointerEvents = "auto";
    }

    function disableButtons() {
        let checkedCheckboxes = getChecked();
        disableButton.disabled = checkedCheckboxes.length <= 0;
    }

    function getChecked() {
        let checkedCheckboxes = [];
        for (let i = 0; i < checkboxes.length; ++i) {
            if (checkboxes[i].checked) checkedCheckboxes.push(checkboxes[i]);
        }
        return checkedCheckboxes;
    }

    function deleteWorks() {
        let checkedCheckboxes = getChecked();
        if (checkedCheckboxes == null) return;
        const form = document.createElement('form');
        form.action = '/deleteWork';
        form.method = 'GET';

        form.innerHTML = '<input type = "hidden" id = "works" name = "works" value = "" >';
        let checkbox, ids = "";
        for (let i = 0; i < checkedCheckboxes.length; ++i) {
            checkbox = checkedCheckboxes[i];
            ids += checkbox.id + " ";
        }
        document.body.append(form);
        document.getElementById('works').value = ids;
        form.submit();

    }

    function closeModalWindow(nameOfWindow) {
        let modalWindow = document.getElementById(nameOfWindow);
        modalWindow.style.opacity = "0";
        modalWindow.style.pointerEvents = "none";
    }

    const nodeList = document.getElementsByClassName('todo-ul-li')[0].getElementsByTagName('LI');
    for (let i = 0; i < nodeList.length; i++) {
        const span = document.createElement("SPAN");
        const txt = document.createTextNode("\u00D7");
        span.className = "close";
        span.appendChild(txt);
        nodeList[i].appendChild(span);
    }


    let close = document.getElementsByClassName("close");
    let tasksId = document.getElementsByClassName("tasksId");
    for (let i = 0; i < close.length; i++) {
        const closeButton = close[i];
        closeButton.onclick = function () {
            const id = tasksId[i].value;
            const form = document.createElement('form');
            form.action = '/deleteTask';
            form.method = 'GET';

            form.innerHTML = '<input type = "hidden" name = "taskId" id =' + '"taskId' + id + '" value = "">';
            document.body.append(form);
            document.getElementById("taskId" + id).value = id;
            form.submit();
        }
    }

    const list = document.querySelector('div.todo-ul-li ul[id = myUL]');
    list.addEventListener('click', function (ev) {
        if (ev.target.tagName === 'LI') {
            ev.target.classList.toggle('checked');
        }
    }, false);

    function newElement() {
        const inputValue = document.getElementById("myInput").value;
        const form = document.createElement('form');
        form.action = '/addTask';
        form.method = 'GET';

        form.innerHTML = '<input type = "hidden" name = "taskName" id = "taskName" value = "">';
        document.body.append(form);
        document.getElementById("taskName").value = inputValue;
        form.submit();
    }
</script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>