<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>StudyCom</title>
</head>
<body>
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="#"><b>Чат</b></a></li>
    </ul>
    <div class="profile">
        <a href="#"><img src="https://sun9-30.userapi.com/c855236/v855236163/96840/_gJAXx_rgkE.jpg"
                         class="profile-photo"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.surname}"></b>
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b> | <b th:text="${user.level}"></b><b> уровень</b>
    </div>
</div>
<div class="main-profile">
    <ul>
        <li>
            <div class="gradient-border">
                <a href="#"><img src="https://sun9-30.userapi.com/c855236/v855236163/96840/_gJAXx_rgkE.jpg"
                                 class="mainprofile-photo"></a>
            </div>
        </li>
        <li>
            <div class="profile-info">
                <h1><b>Владислав Селицкий</b></h1>
                <b>Группа 6208</b>
                <br>
                <br>
                <b>Студент</b>
                <br><br>
        
            </div>
        </li>
        <li>
            <div class="statistic">
                <b>Посещено пар: 0</b>
                <br>
                <b>Пропущено пар: 99999</b>
                <br>
                <b>Всего пар: 99999</b>
                <br><br>
                <button>Редактировать</button>
            </div>
        </li>
    </ul>
   	<div class ="container">
    <div class="exp">
        <div class = "exp-line"></div><p>20/100</p><h2 style ="text-align: center">1 уровень</h2>
        <p style = "text-align: center">Как повышать уровень?</p>
        <div></div>
    </div>
</div>
</div>
</body>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</html>
