<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/modal-window.css">
    <link rel="stylesheet" href="css/input.css">
    <title>StudyCom</title>
</head>
<body onload="createExpLine()">
<div id="error" class="modalbackground" style="opacity: 0; pointer-events: none">
    <div class="modalwindow">
        <form action="/editProfile" method="POST" id="editProfileForm">
            <h3>Редактирование профиля</h3>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Логин" name="login" id='login' required>
                <label for="login" class="form__label">Логин</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Фамилия" name="surname" id='surname' required>
                <label for="surname" class="form__label">Фамилия</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Имя" name="name" id='name' required>
                <label for="name" class="form__label">Имя</label>
            </div>
            <div class="form__group field">
                <input type="password" class="form__field" placeholder="Пароль" name="passowrd" id='password' required>
                <label for="password" class="form__label">Пароль</label>
            </div>
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="Группа" name="group" id='group' required>
                <label for="group" class="form__label">Группа</label>
            </div>
            <div class="form__group field">
                <input type="url" class="form__field" placeholder="Аватар" name="avatar" id='avatar'
                       title="Для того чтобы загрузить аватар вам нужно ввести его URL" required>
                <label for="avatar" class="form__label">Аватар</label>
            </div>
            <a onclick="document.getElementById('editProfileForm').submit()"
               style="margin-top: 30px; display: inline-block;">Применить</a>
            <a style="margin-top: 0; display: inline-block;" onclick="closeModalWindow()">Закрыть</a>
            <a href="https://support.google.com/websearch/answer/118238?hl=ru&co=GENIE.Platform%3DDesktop"
               style="margin-top: 10px; margin-left: 25%" target="_blank">Как узнать URL изображения?</a>
        </form>
    </div>
</div>
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="#"><b>Чат</b></a></li>
    </ul>
    <div class="profile">
        <a href="#"><img th:src="${user.urlPhoto == null ?
                'https://windows10free.ru/uploads/posts/2017-04/1493287748_1487679899_icon-user-640x640.png' :
                 user.urlPhoto}" class="profile-photo"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.surname}"></b>
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b> | <b th:text="${user.level}"></b><b> уровень</b>
    </div>
</div>
<div class="main-profile">
    <ul>
        <li>
            <div class="gradient-border">
                <a href=""><img th:src="${user.urlPhoto == null ?
                'https://windows10free.ru/uploads/posts/2017-04/1493287748_1487679899_icon-user-640x640.png' :
                 user.urlPhoto}"></a>
            </div>
        </li>
        <li>
            <div class="profile-info">
                <h1>
                    <b th:text="${user.surname}"></b> <b th:text="${user.name}"></b>
                </h1>
                <b>Группа </b> <b th:text="${user.group.name}"></b>
                <br>
                <br>
                <b th:text="${user.role == 'CASUAL' ? 'Студент' : 'Староста'}"></b>
                <br><br>

            </div>
        </li>
        <li>
            <div class="statistic">
                <b>Посещено пар: 0</b>
                <br>
                <b>Пропущено пар: 99999</b>
                <br>
                <b>Всего пар: 99999</b>
                <br><br>
                <button onclick="openModalWindow()">Редактировать</button>
            </div>
        </li>
    </ul>
    <div class="container">
        <div class="exp">
            <input type="hidden" th:value="${user.exp}" id="percentOfLvl">
            <div class="exp-line" id="expLine"></div>
            <p th:text="${user.exp}" style="display: inline-block; margin-left: 115px"></p>
            <p style="display: inline-block;">/100</p>
            <br>
            <h2 style="text-align: center; display: inline-block; margin-left: 85px" th:text="${user.level}"></h2>
            <h2 style="display: inline-block;"> уровень</h2>
            <p style="text-align: center">Как повышать уровень?</p>
            <div></div>
        </div>
    </div>
</div>
</body>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
<script>
    let modalWindow = document.getElementById("error");

    function createExpLine() {
        let expLine = document.getElementById("expLine");
        let percentOfLvl = document.getElementById("percentOfLvl");
        expLine.style.width = percentOfLvl.value + '%';
    }

    function openModalWindow() {
        modalWindow.style.opacity = "1";
        modalWindow.style.pointerEvents = "auto";
    }

    function closeModalWindow() {
        modalWindow.style.opacity = "0";
        modalWindow.style.pointerEvents = "none";
    }</script>
</html>
