<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel ="stylesheet" href="css/style-2.css">
    <link rel="stylesheet" href="css/modal-window.css">
</head>
<body>
<div id="error" class="modalbackground" th:if="${error == null ? false : true}">
    <div class="modalwindow">
        <h3>Ошибка</h3>
        <p th:text="${error}"></p>
        <a onclick = "closeModalWindow()">Закрыть</a>
    </div>
</div>
<form  action=""
th:action="@{addUser}" method="GET">
    <h1 align="center" style="color:#808080">DARKLK</h1>
    <h2 align="center">| Регистрация |</h2>
    <div class="group">
        <label>Логин:</label>
        <input name="login" type="text" >
    </div>
    <div class="group">
        <label>Имя:</label>
        <input name="name" type="text" >
    </div>
    <div class="group">
        <label>Фамилия:</label>
        <input name="surname" type="text">
    </div>
    <div class="group">
        <label>Группа:</label>
        <input name="group" type="text">
    </div>
    <div class="group">
        <label>Пароль:</label>
        <input name="password" type="password"  >
    </div>
    <div class ="group">
        <label>Зарегестрироваться как староста:</label>
        <input type="checkbox" name="starostaCheckbox">
    </div>
        <div style="text-align: center;" class = "group"><input type = "submit" value = "Регистрация"></div>
    </form>
<div style="text-align: center;" class = "group"><button onclick = "window.location.href='enter'">Вернуться на страницу авторизации</button></div>
</body>
<script>
    let modalWindow = document.getElementById("error");
    function closeModalWindow() {
        modalWindow.style.opacity = "0";
        modalWindow.style.pointerEvents = "none";
    }
</script>
</html>