<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Расписание</title>
<link rel="stylesheet" href="table.css">
</head>
 
<body>
<div class="wrapper-table">
<table border="1" cellpadding="4" cellspacing="0" width="80%">
<caption class="cap">Расписание | Неделя 1 (нечетная)</caption>

<tr>

<th>Время</th>

<th>Понедельник</th>

<th>Вторник</th>

<th>Среда</th>

<th>Четверг</th>

<th>Пятница</th>

<th>Суббота</th>

</tr>
<tr>
<td>
      <div class="content">
        <button class="open-modal">8.00 - 9.35</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>

        </div>
      </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">9.45 - 11.20</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">11.30 - 13.05</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">13.30 - 15.05</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">15.15 - 16.50</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">17.00 - 18.35</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">18.45 - 20.15</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

<tr>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">20.25 - 21.55</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>


<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>

<td>
<div class="container">
      <div class="content">
        <button class="open-modal">lesson</button>
      </div>
      <div class="modal-overlay"></div>
      <div class="modal-wrapper">
        <div class="modal">
          <button class="close-modal">×</button>
                    <p>ФИЗРА</p>
       <button class="change">Изменить</button>
        </div>
      </div>
    </div>
</td>
</tr>

</table>
</div>

	   <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script> <!-- анимации -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> <!-- анимации -->

    <script  src="js/table.js"></script>    <!-- открытие/закрытие окна -->

</body>
</html>