<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <title>Расписание</title>
    <link href="css/table.css" rel="stylesheet">
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.6);
        }

        .modal_content {
            background-color: #fff;
            margin: 150px auto;
            padding: 20px;
            width: 40%;
            z-index: 99999;
        }

        .close_modal_window {
            color: #000;
            float: right;
            font-size: 30px;
            font-weight: bold;
            cursor: pointer;
        }
    </style>
</head>

<body>

<!-- шапка  -->
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="/coin"><b>Монетка судьбы</b></a></li>
        <li th:if="${user.role.name() == 'STAR'}"><a href="/addTimetable"><b>Добавить расписание</b></a></li>
    </ul>
    <div class="profile">
        <a href="#"><img class="profile-photo" th:src="${user.urlPhoto == null ?
                'https://windows10free.ru/uploads/posts/2017-04/1493287748_1487679899_icon-user-640x640.png' :
                 user.urlPhoto}"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.surname}"></b>
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b> | <b th:text="${user.level}"></b><b> уровень</b>
    </div>
</div>

<div class="modal" id="my_modal">
    <div class="modal_content">
        <span class="close_modal_window" onclick="closeWindow()">×</span>
        <h3 id="lessonName">Predmet: usefull links</h3>
        <ul id="ulRes">
        </ul>
        Link: <input id="lessonLink" type="text">
        <button id="addLessonLink" style="font: inherit" disabled>Add link</button>
    </div>
</div>

<!-- таблица + модальные окна -->
<div class="wrapper-table">
    <p class="cap" style="margin-left: 380px">Расписание</p>
    <p class="cap" id="timetableCaption" style="margin-left: 280px">
        <button class="cap" id="prevWeek"
                onclick="prevWeek()"><
        </button>
        Неделя 1 (нечетная)
        <button class="cap" id="nextWeek" onclick="nextWeek()">></button>
    </p>
    <table border="1" cellpadding="4" cellspacing="0" id="timetable" width="80%">
        <thead>
        <tr>

            <th>Время</th>

            <th>Понедельник</th>

            <th>Вторник</th>

            <th>Среда</th>

            <th>Четверг</th>

            <th>Пятница</th>

            <th>Суббота</th>

        </tr>
        </thead>
        <tbody id="tbody">

        </tbody>
    </table>
    <input id="numberOfWeeks" type="hidden" th:value="${numberOfWeeks}">
    <input id="fullTimetable" th:value="${timetable}" type="hidden">
    <input id="lessonResources" th:value="${lessonResources}" type="hidden">
</div>
<script>
    const modal = document.getElementById("my_modal");
    const btn = document.getElementById("btn_modal_window");
    const span = document.getElementsByClassName("close_modal_window")[0];

    function closeWindow() {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target === modal) {
            modal.style.display = "none";
        }
    }

    function $id(id) {
        return document.getElementById(id);
    }

    function calcPrevNumWeek(num) {
        if (num > 1) return num - 1;
        else return numberOfWeeks;
    }

    function calcNextNumWeek(num) {
        if (num < numberOfWeeks) return num + 1;
        else return 1;
    }

    const numberOfWeeks = $id("numberOfWeeks").value;
    let currNumWeek = 1;

    function prevWeek() {
        drawTable(calcPrevNumWeek(currNumWeek));
    }

    function nextWeek() {
        drawTable(calcNextNumWeek(currNumWeek));
    }

    let timetable;
    window.onload = function () {
        timetable = JSON.parse($id('fullTimetable').value);
        drawTable(1);
    };
    let resources = JSON.parse($id('lessonResources').value);

    function getContentByLesson(lesson) {
        let arr = [];
        let lessonResources = resources.lessonResources;
        for (let i = 0; i < lessonResources.length; ++i) {
            if (lessonResources[i].lessonName === lesson)
                arr.push(lessonResources[i].content);
        }
        return arr;
    }


    function initButtonActions() {
        let buttons = document.getElementsByClassName('open-modal');
        for (let i = 0; i < buttons.length; ++i) {
            buttons[i].onclick = function () {
                $id('lessonName').innerHTML = buttons[i].innerHTML + ": полезные ресурсы";
                let liRes = document.querySelectorAll('ul[id = ulRes] li');
                let ulRes = $id('ulRes');
                if (liRes != null) {
                    console.log(liRes);
                    for (let i = 0; i < liRes.length; ++i) {
                        console.log(1);
                        ulRes.removeChild(liRes[i]);
                    }
                    console.log(ulRes);
                }
                let contentLesson = getContentByLesson(buttons[i].innerHTML);
                for (let i = 0; i < contentLesson.length; ++i) {
                    let li = document.createElement('li');
                    li.innerHTML = contentLesson[i];
                    ulRes.append(li);
                }
                modal.style.display = "block";
            }
        }
    }

    $id('lessonLink').addEventListener('input', () => $id('addLessonLink').disabled = $id('lessonLink').value === "");

    $id('addLessonLink').onclick = function () {
        let link = {
            "lessonName": $id('lessonName').innerHTML.split(':')[0],
            "content": $id('lessonLink').value
        }
        console.log(link.lessonName);
        let request = new XMLHttpRequest();
        let body = "?lessonName=" + link.lessonName + "&content=" + link.content;
        request.open("GET", "/addLessonResource" + body);
        request.send();
        resources.lessonResources.push({"lessonName": link.lessonName, "content": link.content});
        let li = document.createElement('li');
        li.innerHTML = link.content;
        $id('ulRes').append(li);
        $id('lessonLink').value = "";
    }

    function drawTable(num) {
        let newCaptionOfTable = $id("timetableCaption").innerHTML.replace(currNumWeek, num);
        if (num % 2 === 0 && currNumWeek % 2 !== 0) newCaptionOfTable = newCaptionOfTable.replace('нечетная', 'четная');
        else if (num % 2 !== 0 && currNumWeek % 2 === 0) newCaptionOfTable = newCaptionOfTable.replace('четная', 'нечетная');
        $id("timetableCaption").innerHTML = newCaptionOfTable;
        let htmlTable = $id('tbody');
        let trs = document.getElementsByTagName('tr');
        while (trs.length !== 1) {
            htmlTable.removeChild(trs[1]);
        }
        let week = timetable.fullTimetable[num - 1].week;
        if (week !== undefined) {
            for (let i = 0; i < week.length; ++i) {
                let lessonsByTime = week[i];
                let tr = document.createElement('tr');
                let td = document.createElement('td');
                td.innerHTML = lessonsByTime.time;
                tr.append(td);
                let lessons = lessonsByTime.day;
                for (let j = 0; j < lessons.length; ++j) {
                    let td = document.createElement('td');
                    let p = document.createElement('p');
                    if (lessons[j].name != '-') {
                        let button = document.createElement('button');
                        button.className = 'open-modal';
                        button.innerHTML = lessons[j].name;
                        p.innerHTML = lessons[j].type;
                        td.append(button);
                        td.append(p);
                    } else {
                        p.innerHTML = lessons[j].name;
                        td.append(p)
                    }
                    tr.append(td);
                }
                htmlTable.append(tr);
            }
        }
        currNumWeek = num;
        initButtonActions();
    }
</script>


</body>

</html>