<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Расписание</title>
    <link rel="stylesheet" href="css/table.css">
</head>

<body>

<!-- шапка  -->
<div class="navbar">
    <ul>
        <li><a href="/home"><b>Домашняя страница</b></a></li>
        <li><a href="/group"><b>Группа</b></a></li>
        <li><a href="/timetable"><b>Расписание</b></a></li>
        <li><a href="#"><b>Чат</b></a></li>
    </ul>
    <div class="profile">
        <a href="#"><img src="https://sun9-30.userapi.com/c855236/v855236163/96840/_gJAXx_rgkE.jpg"
                         class="profile-photo"></a>
    </div>
    <div class="profile-text">
        <b th:text="${user.surname}"></b>
        <b th:text="${user.name}"></b>
        <br>
        <b th:text="${user.group.name}"></b> | <b th:text="${user.level}"></b><b> уровень</b>
    </div>
</div>


<!-- таблица + модальные окна -->
<div class="wrapper-table">
    <div class="modal-overlay"></div>
    <div class="modal-wrapper">
        <div class="modal">
            <button class="close-modal">×</button>
            ТФКП
            <button class="change">Изменить</button>
        </div>
    </div>
    <table border="1" cellpadding="4" cellspacing="0" width="80%">
        <caption class="cap">Расписание</caption>
        <caption class="cap">Неделя 1 (нечетная)</caption>
        <tr>

            <th>Время</th>

            <th>Понедельник</th>

            <th>Вторник</th>

            <th>Среда</th>

            <th>Четверг</th>

            <th>Пятница</th>

            <th>Суббота</th>

        </tr>
        <tr>
            <td>
                <div class="content">
                    <button class="open-modal">8.00 - 9.35</button>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">
                    <button class="open-modal">8.00 - 9.35</button>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">
                    <button class = "open-modal">8.00 - 9.35</button>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">
                    <button class = "open-modal">8.00 - 9.35</button>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">
                    <button class = "open-modal">8.00 - 9.35</button>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="content">
                    <button class = "open-modal">8.00 - 9.35</button>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>

            <td>
                <div class="container">
                    <div class="content">
                        <button class="open-modal">lesson</button>
                    </div>
                </div>
            </td>
        </tr>

    </table>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js'></script> <!-- анимации -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script> <!-- анимации -->

<script src="js/table.js"></script>    <!-- открытие/закрытие окна -->

</body>
</html>